---
import Layout from "../layouts/Layout.astro";
import Card from "../components/astro/Card.astro";
import PillComponent from "../components/astro/PillComponent.astro";
import links from "../data/Links.json";
import PilCategorie from "../components/react/PilCategorie";
import SearchBar from "../components/react/SearchBar";
import uniqueCategories from "../data/Categorie";
import MainComponent from "../components/react/mainWrapperComponent";
---

<Layout title="SimpleLinks">
  <main>
    <!-- <div class="search-bar">
      <input class="main-text-bar" type="text" /><button class="search-btn"
        >search</button
      >
    </div> -->

    <!-- <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul> -->
    <SearchBar client:idle />

    <div class="carrousel">
      {uniqueCategories.map((item,index)=>(
        <PilCategorie title={item} spaceLeft={index * 150}  client:idle/>
      ))}
    </div>

    <ul >
      {
        links.map((link) => (
          <li class="simple-btn simple-card">
            <a class="text-btn"  href={link.Link}>{link.Nombre}</a>
            <span class="categorie">{link.Categorie}</span>
            <span class="type" >{link.Type}</span>
          </li>
        ))
      }
    </ul>

    <MainComponent links ={links}/>
    
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .carrousel {
    overflow-x: auto;
    height: 8rem;
    margin-top: 1rem;
    position: relative;
    
  }
  .simple-btn {
    padding: 1rem;
    background-color: #484875;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    list-style: none;
  }
  .text-btn {
    color: white;
    text-decoration: none;
  }
  .simple-btn:hover {
    background-color: #392949;
    cursor: pointer;
  }
  .simple-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .categorie,
  .type {
    background-color: #2a2a3d;
    width: 20%;
    border-radius: 10px;
    text-align: left;
    padding-left: 0.5rem;
  }
  .type {
    background-color: #233147;
  }
  .text-btn {
    font-size: 1.9rem;
    /* font-family: 'Courier New', Courier, monospace; */
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text-bar {
    padding: 0.5rem;
  }
  .search-btn {
    padding: 0.6rem;
    background-color: #233147;
    border: none;
    color: white;
  }
</style>